@media (min-width: 1080px) {
  .similarArticlesContainer {
    margin: 10vh 5vw 0 0;
  }
}

.similarArticlesContainer h3 {
  text-align: center;
}

.similarArticlesList {
  list-style: none;
  padding: 0;
}

.similarArticlesList li {
  width: 60%;
  margin: 5vh 20%;
}
