.articleGridContainer {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.articleGridContainer article {
  grid-column: 1 / 3;
}

.similarArticles {
  grid-column: 3 / 4;
}

.articleTitle {
  margin-top: 8vh;
  font-size: 2.5rem;
}

.articleBody {
  margin-bottom: 10vh;
}
