.newsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.nc,
.news {
  font-size: 8vh;
  margin: 0;
}

.nc {
  color: var(--customRed);
}

.news {
  color: white;
  position: relative;
  right: -5vw;
}

.loggedOutContainer,
.takingActionContainer,
.loggedInContainer,
.errorHeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 12vh;
  min-height: fit-content;
}

.loggedInContainer {
  justify-content: space-between !important;
}

.errorHeaderContainer {
  gap: 40vw;
}

.loginButton,
.profileButton,
.userStatus,
.logoutButton,
.errorMessage {
  margin: 0;
  margin-bottom: 2.5vh;
}

.profileButton {
  margin-right: 15vw;
}

.userStatus {
}

.logoutButton {
  margin-left: 10vw;
}

.errorMessage {
  color: red;
}

@media (max-width: 600px) {
  .loggedOutContainer {
    gap: 20vw;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .loggedOutContainer {
    gap: 15vw;
  }
}

@media (min-width: 1281px) {
  .loggedOutContainer {
    gap: 8vw;
  }
}
