header {
}

.redBannerOne {
}

.title {
  display: flex;
  flex-direction: column;
}

.nc {
  color: red;
}

.news {
  background-color: red;
  color: white;
}

#redErrorMessage {
  color: red;
}

.errorHeaderContainer,
.actionHeaderContainer,
.loggedInHeaderContainer,
.loggedOutHeaderContainer {
  height: fit-content;
}

.errorHeaderContainer,
.actionHeaderContainer,
.loggedOutHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.errorHeaderContainer {
  gap: 40vw;
}

.loggedInHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
}

.loggedInHeaderContainer .userStatus {
  flex-grow: 1;
}

.loggedOutHeaderContainer {
  align-items: center;
  gap: 4vw;
}
