.articleCardLink {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.articleCardLink:hover .title {
  text-decoration: underline;
  color: var(--customRed);
}

.articleCard {
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 100%;
}

.topArticleLabel {
  position: relative;
  top: 2.5vh;
}

/* All article cards */

.layerOne,
.layerTwo,
.layerThree,
.layerFour,
.layerFive {
  width: 100%;
}

.layerOne {
  display: flex;
  justify-content: space-between;
}

.layerFour {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  .title {
    font-size: 1rem;
  }
}

.author,
.topic,
.votes,
.createdAt,
.commentCount {
  font-size: 0.85rem;
}

.author {
  margin-left: 2vw;
  color: var(--customRed);
}

.topic {
  margin-right: 2vw;
  color: rgb(70, 64, 64);
}

.body {
  text-wrap: wrap;
}

@media (max-width: 850px) {
  .createdAt {
    margin-left: 2vw;
  }
  .votes,
  .commentCount {
    margin-right: 2vw;
  }
}

/* Top article card */

@media (min-width: 851px) {
  .topArticleCard .layerThree {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topArticleCard .thumbnail,
  .topArticleCard .body {
    max-width: 50%;
  }
}

.topArticleCard .layerFour {
  display: flex;
  justify-content: flex-end;
}

.topArticleCard .layerFive {
  display: flex;
  justify-content: space-between;
}

.topArticleCard .thumbnail {
  margin: 0 1vw 0 2.5vw;
}

.topArticleCard .body {
  font-size: 0.9rem;
  margin: 0 2.5vw 0 1vw;
}

@media (max-width: 850px) {
  .topArticleCard .thumbnail {
    margin: 0 1vw 1vw 2.5vw;
  }
  .topArticleCard .body {
    font-size: 0.9rem;
    margin: 1vw 2.5vw 0 1vw;
  }
}

.topArticleCard .createdAt {
  margin-left: 2vw;
}

.topArticleCard .votes,
.topArticleCard .commentCount {
  margin-right: 2vw;
}
