.articleCardLink {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.articleCardLink:hover .title {
  text-decoration: underline;
  color: var(--customRed);
}

.articleCard {
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 100%;
}

.layerOne,
.layerTwo,
.layerThree,
.layerFour,
.layerFive {
  width: 100%;
}

.layerOne {
  display: flex;
  justify-content: space-between;
}

.author {
  margin-left: 1vw;
}

.topic {
  margin-right: 1vw;
}

.topArticleCard {
}

.author {
  color: var(--customRed);
}

@media (min-width: 1281px) {
  .topArticleCard .layerThree {
    display: flex;
    justify-content: space-between;
  }
}

.topArticleCard .layerFour {
  display: flex;
  justify-content: space-between;
}

.topArticleCard .layerFive {
  display: flex;
  justify-content: flex-end;
}

.otherArticleCards {
}

.otherArticleCards .layerFour {
  display: flex;
  justify-content: space-evenly;
}

#topicTag {
  color: rgb(70, 64, 64);
}
