footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: black;
  color: white;
  position: relative;
  left: -5vw;
  width: 100vw;
  height: 25vh;
  margin-top: 6vh;
}

footer p {
  position: relative;
  bottom: 7.5vh;
  font-size: 2vh;
}
