#root {
  text-align: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 5vw;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.thinRedBanner {
  background-color: var(--customRed);
  width: 100vw;
  height: 6vh;
  position: relative;
  left: -5vw;
  border-top: 1px solid white;
}

.redBanner {
  background-color: var(--customRed);
  width: 100vw;
  height: 10vh;
  position: relative;
  left: -5vw;
}

.thickRedBanner {
  background-color: var(--customRed);
  width: 100vw;
  height: 15vh;
  position: relative;
  left: -5vw;
}

img {
  width: 80%;
  object-fit: contain;
}
