body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 5vw;
}

#root {
  text-align: center;
}

/* .veryThinRedBanner {
  background-color: var(--customRed);
  width: 100vw;
  height: 1vh;
  position: relative;
  left: -5vw;
} */

.thinRedBanner {
  background-color: var(--customRed);
  width: 100vw;
  height: 6vh;
  position: relative;
  left: -5vw;
  border-top: 1px solid white;
}

.redBanner {
  background-color: var(--customRed);
  width: 100vw;
  height: 10vh;
  position: relative;
  left: -5vw;
}

.thickRedBanner {
  background-color: var(--customRed);
  width: 100vw;
  height: 15vh;
  position: relative;
  left: -5vw;
}

img {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
}
